@media screen and (max-width: 576px) {
    .nav-drop-down {
        flex-direction: column;
        text-align: center;
    }

    .nav-drop-down h2 {
        margin-bottom: 30px;
    }

    .nav-drop-down ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        margin-top: 1px;
        margin-left: 5px;
        margin-bottom: 40px;
    }

    .nav-main h1 {
        margin: 0;
    }

    .nav-main p {
        margin: 0;
    }

    .nav-main img {
        width: 100%;
    }

    .grid {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 40px;
        margin: 85px 40px;
    }

    .img {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 60px;
    }

    .text {
        align-items: center;
        text-align: center;
    }

    .tricky {
        flex-direction: column;
        margin: 0;
    }

    .tricky-texts {
        padding-top: 20px;
    }

    .picture-button {
        width: 100%;
    }

    .picture-button img {
        width: 500px;
        height: 780px;
    }

    .secondary-btn {
        padding: 40px 40px;
    }

    .btn-big-text {
        font-weight: 600;
        font-size: 40px;
    }

    .btn-small-text {
        font-weight: 400;
        font-size: 20px;
    }

    .facts {
        margin: 40px 40px;
    }

    .facts h1,
    .facts p {
        text-align: center;
    }

    .little-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding-top: 25px;
    }

    .sponsor {
        text-align: center;
        margin: 50px 0;
    }

    #sponsor-logo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    footer {
        margin: 0 10px;
        margin-bottom: 50px;
    }
}