@media screen and (max-width: 576px) {
    .nav-drop-down {
        display: block;
        /* show the menu when the screen is small */
    }

    .nav-drop-down h2 {
        font-size: 1.2em;
        /* reduce the font size of the heading */
    }

    .nav-drop-down ul {
        margin: 0;
        /* remove the default margin on the list */
        padding: 0;
        /* remove the default padding on the list */
        list-style: none;
        /* remove the default bullet points */
    }

    .nav-drop-down li {
        margin: 0.5em 0;
        /* add some spacing between the list items */
    }



    .nav-main {
        flex-direction: column;
        text-align: center;
    }

    .nav-main h1 {
        font-size: 2rem;
    }

    .nav-main p {
        font-size: 1rem;
    }

    .nav-main img {
        width: 100%;
    }

    .primary-btn {
        font-size: 1rem;
        padding: 0.8rem 1.6rem;
    }

}