@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Condensed&family=Work+Sans&display=swap');

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.nav {
    background-color: rgba(255, 144, 14, 0.1);

}

.nav-drop-down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-drop-down {
    display: flex;
    flex-direction: row;
}

.nav-drop-down h2 {
    font-weight: 700;
    font-size: 45px;
    margin: 50px 0 102px 150px;
}

.nav-drop-down ul {
    font-weight: 500;
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 63px 165px 116px 473px;
}

.nav-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.nav-main h1 {
    font-weight: 700;
    font-size: 64px;
    margin: 0 400px;
}

.nav-main p {
    margin: 0 320px;
}

.nav-main img {
    width: 1220px;
    height: 600px;
    margin: 10px 240px 50px;
}

.primary-btn {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;
    padding: 20px 25px;
}

.grid {
    display: flex;
    margin: 85px 180px;
}

.img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-right: 60px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 24px;
    text-align: left;
}

.text h2 {
    font-weight: 700;
    font-size: 45px;
}

.grey-text {
    color: #727272;
    font-weight: 500;
}

.orange-text {
    color: #FF900E;
}

.tricky {
    display: flex;
    justify-content: space-between;
    margin: 130px 140px;
}

.tricky-texts {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.vertical-h1 {
    display: flex;
    gap: 22px;
}

.vertical-h1 h1 {
    font-weight: 700;
    font-size: 45px;
}

.vertical-line {
    border: none;
    border-left: 5px double orange;
    height: 106px;
    background-color: #FF900E;
}

.box {
    margin-bottom: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    background: #FFFFFF;
    padding: 20px;
}

.box h1 {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;

}

.picture-button {
    position: relative;
}

.picture-button img {
    width: 600px;
    height: 882px;
    padding-left: 90px;
    padding-bottom: 90px;
}

.secondary-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #FF900E;
    border: 1px solid orange;
    border-radius: 8px;
    color: #fff;
    padding: 50px 50px;
    text-decoration: none;
}

.btn-big-text {
    font-weight: 700;
    font-size: 65px;
}

.btn-small-text {
    font-weight: 500;
    font-size: 25px;
}

.facts {
    margin: 0 200px;
}

.facts h1 {
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 25px;
}

.little-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}

.little {
    border: 1px solid orange;
    border-radius: 8px;
    padding: 36px 45px;
    display: inline-block;
    text-align: center;
}

.little h1 {
    padding: 5px 0;
    font-weight: 600;
    font-size: 45px;
}

.little p {
    font-weight: 600;
    font-size: 20px;
}

.sponsor {
    text-align: center;
    margin: 130px 0;
}

.sponsor h1 {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 25px;
}

#sponsor-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    filter: grayscale(100%);
}

footer {
    margin: 0 200px;
    margin-bottom: 100px;
    border: 25px solid #FFF4E7;
    background: #FFF4E7;
    border-radius: 10px;
    text-align: center;
}